@font-face {
  font-family: "Cooper Black";
  src: url("/fonts/cooper-black.otf");
}
* {
	vertical-align: baseline;
	font-weight: inherit;
    font-style: inherit;
    font-family: Cooper Black, serif;
	font-size: 100%;
	outline: 0;
    margin: 0 auto;
	}
	
@media screen and (max-width: 700px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

#wrapper {
	  width: 800px;
	  margin: 0 auto;
	  margin-top: 150px;
       }
       	   #logo {
       	     text-align: center;
       	      margin: 0 auto;
       	      margin-bottom: 5px;
       	      font-size: 80px;
       	      color: black;
       	   }	
           #submit{
			  display: flex;
			  justify-content: center;
			  color: #595959;
			  font-size: 25px;
			  margin: 0 auto;
               width: 400px;
               height: 90px;
               padding: 25px;
               border-radius: 30px;
               border: none;
               background-color: white;
               box-shadow: 0px 5px 20px 5px silver;
               margin-bottom: 10px;
           }
           #submit:hover{
			  transition-duration: .5s;
			  box-shadow: none;
			  background-color: #ededed;
           }
           #about {
           		text-align: center;  
           		margin: 0 auto;
           		color: #595959;
           		font-size: 18px;
			  	display: flex;
			    justify-content: center;  
			    text-decoration: none;  
			  
           }
           #about:hover{
           		opacity: 0.5;
			    transition-duration: .5s;
           }